@import url(
  https://fonts.googleapis.com/css?family=Raleway:300,
  400,
  600,
  700|Roboto:300,
  400,
  700
);
@font-face {
  font-family: Reef;
  src: url(../fonts/Reef.otf);
}
@font-face {
  font-family: Kartika;
  src: url(../fonts/kartika.ttf);
}
* {
  margin: 0;
  padding: 0;
  cursor: default;
}
.container {
  margin: 0 auto;
  max-width: 980px;
}
header {
  cursor: default;
  height: 100vh;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
}
header .container .head {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
}
header .container .head .logo {
  margin-left: 40px;
}
header .container .head .logo h1 {
  font-family: Reef, sans-serif;
  font-size: 26px;
}
header .container .head .menu {
  margin-right: 40px;
}
header .container .head .menu ul {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 340px;
}
header .container .head .menu ul li {
  font-size: 11px;
  cursor: pointer;
}
header .container .head .menu ul li:hover {
  color: #c9c9c9;
}
header .container .text-head {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
header .container .text-head h1 {
  font-family: Kartika, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 74px;
}
header .container .button-in-head {
  width: 250px;
  margin: 0 auto;
}
header .container .button-in-head #buttonLearnMore {
  cursor: pointer;
  outline: 0;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  background-color: #7ca5d9;
  padding: 20px 70px;
  border: none;
  border-radius: 40px;
}
header .container .button-in-head #buttonLearnMore:hover {
  background-color: #6688b3;
}
.start-now {
  height: 240px;
  width: 100%;
  background-color: #9576a7;
  color: #fff;
  text-align: center;
  position: relative;
}
.start-now .arrow-bottom {
  cursor: pointer;
  border-radius: 10px;
  background-color: #9576a7;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: -20px;
  margin: 0 auto;
  z-index: 2;
}
.start-now .arrow-bottom img {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.start-now h1 {
  position: relative;
  z-index: 3;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.start-now h2 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.start-now button {
  margin-top: 40px;
  padding: 10px 60px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #9576a7;
  border: solid 1px #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: 0;
}
.start-now button:hover {
  background-color: #786089;
}
.what-we-do {
  width: 100%;
  height: 550px;
  position: relative;
}
.what-we-do .container img {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}
.what-we-do .container .what-we-do__text h1 {
  margin-top: 105px;
  font-size: 37px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.what-we-do .container .what-we-do__text p {
  color: #2c2c2c;
  font-size: 18px;
  margin: 40px 0;
  font-family: sans-serif;
}
.what-we-do .container .what-we-do__text button {
  outline: 0;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 38px;
  background-color: #fff;
  border: solid 1px #45b782;
  border-radius: 30px;
  cursor: pointer;
}
.what-we-do .container .what-we-do__text button:hover {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 38px;
  background-color: #45b782;
  border: solid 1px #45b782;
  border-radius: 30px;
}
.what-we-do .container .shadow {
  position: relative;
  top: 135px;
  left: -50px;
  opacity: 0.1;
  font-size: 65px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.services {
  background-color: #45b681;
  height: 450px;
  width: 100%;
}
.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services .container .services-block {
  margin-top: 70px;
  width: 226px;
  height: 310px;
  border-radius: 50px;
  border: dashed 2px rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.services .container .services-block img {
  margin: 50px auto 0;
}
.services .container .services-block .icon2 {
  margin-top: 60px;
}
.services .container .services-block .icon3 {
  margin-top: 25px;
}
.services .container .services-block p {
  font-family: sans-serif;
  font-size: 13px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.services .container .services-block .text-service-block2 {
  margin-top: 64px;
}
.services .container .services-block:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: dashed 2px #fff;
}
.empty-block {
  height: 170px;
}
.empty-block-gray {
  height: 330px;
  background-color: #f3f3f3;
}
.join-us {
  color: #fff;
  position: relative;
  width: 100%;
  height: 400px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5f85b3),
    color-stop(#8cbef7),
    to(#5f85b3)
  );
  background: linear-gradient(to right, #5f85b3, #8cbef7, #5f85b3);
}
.join-us .container img {
  position: absolute;
  padding-left: 130px;
  top: -370px;
  margin: 0 auto;
}
.join-us .container .join-us__text {
  padding-top: 150px;
}
.join-us .container .join-us__text h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  letter-spacing: 9px;
  text-align: center;
}
.join-us .container .join-us__text .group-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.join-us .container .join-us__text .group-blocks .join-us__block-text {
  width: 300px;
  font-family: Raleway, sans-serif;
  text-align: center;
  padding-top: 80px;
}
.join-us .container .join-us__text .group-blocks .join-us__block-text h2 {
  font-size: 18px;
}
.join-us .container .join-us__text .group-blocks .join-us__block-text p {
  font-size: 18px;
}
.testimonials {
  height: 490px;
}
.testimonials .container .testimonials__shadow {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  top: 40px;
  left: -50px;
  opacity: 0.1;
  font-size: 65px;
  font-family: Raleway, sans-serif;
}
.testimonials .container h2 {
  text-align: center;
  font-size: 37px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.testimonials .container .carusel {
  margin: 0 auto;
  max-width: 700px;
}
.testimonials .container .carusel .slick-prev {
  float: left;
  margin-top: 120px;
  margin-left: -170px;
  cursor: pointer;
}
.testimonials .container .carusel .slick-prev:hover {
  -webkit-filter: brightness(5%);
  filter: brightness(5%);
}
.testimonials .container .carusel .slick-next {
  cursor: pointer;
  float: right;
  margin-top: -242px;
  margin-right: -170px;
}
.testimonials .container .carusel .slick-next:hover {
  -webkit-filter: brightness(5%);
  filter: brightness(5%);
}
.testimonials .container .carusel .carusel-block {
  outline: 0;
  margin: 50px 50px;
  width: 600px;
  font-size: 22px;
}
.testimonials .container .carusel .carusel-block p {
  padding: 50px 40px;
  background-color: #f6f6f6;
}
.testimonials .container .carusel .carusel-block .person {
  margin-top: 40px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.testimonials .container .carusel .carusel-block .person img {
  margin-right: 10px;
}
footer {
  width: 100%;
  height: 125px;
  background-color: #212934;
  color: #fff;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container .logo {
  margin-top: 40px;
  margin-left: 40px;
}
footer .container .logo h1 {
  font-family: Reef, sans-serif;
  font-size: 26px;
}
footer .container .footer-center {
  font-family: Roboto, sans-serif;
}
footer .container .footer-center .list-row {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 100;
  font-size: 10px;
}
footer .container .footer-center h3 {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}
footer .container .footer-right {
  font-family: sans-serif;
  font-size: 12px;
  margin-right: 40px;
}
footer .container .footer-right h6 {
  margin-top: 45px;
}
footer .container .footer-right h5 {
  margin-top: 20px;
}
footer .container .footer-right p {
  color: #4f4f4f;
  margin-top: 20px;
}
