#site-tutorial-control-panel {
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 140px;
  border-radius: 10px;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  box-shadow: 0 0 15px 0 rgba(56, 56, 56, 0.288);
}

#site-tutorial-control-panel #description {
  padding: 10px;
  box-sizing: border-box;
  height: 65%
}

#site-tutorial-control-panel #description p{
  width: 90%;
}

#site-tutorial-control-panel #nav {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
  height: 35%;
}

#site-tutorial-control-panel #progress-wrap{
  padding: 5px 20px;
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: center;
}

#site-tutorial-control-panel #group-buttons{
  display: flex;
  height: 100%;
  width: 30%;
}

#site-tutorial-control-panel #group-buttons button {
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

#site-tutorial-control-panel #prev-site-tutorial:hover {
  background-color: rgb(201, 201, 201);
}

#site-tutorial-control-panel #next-site-tutorial {
  background-color: #45b681;
  color: #fff;
  border-bottom-right-radius: 10px;
}

#site-tutorial-control-panel #next-site-tutorial:hover {
  background-color: #25a76a;
}

#site-tutorial-control-panel #next-site-tutorial:active {
  background-color: #309968;
}

#site-tutorial-control-panel #next-site-tutorial:disabled,
#site-tutorial-control-panel #next-site-tutorial[disabled]{
  background-color: #84ac99;
}

#stop-site-tutorial{
  cursor: pointer;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 5px;
}

#stop-site-tutorial:before, #stop-site-tutorial:after {
  position: absolute;
  left: 9px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #25a76a;
}

#stop-site-tutorial:before {
  transform: rotate(45deg);
}

#stop-site-tutorial:after {
  transform: rotate(-45deg);
}

#stop-site-tutorial:hover:after, #stop-site-tutorial:hover:before{
  background-color: #173f2c;
}