
.control-panel {

  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 140px;
  border-radius: 10px;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  box-shadow: 0 0 15px 0 rgba(56, 56, 56, 0.288);
}

.control-panel .description {
  padding: 10px;
  box-sizing: border-box;
  height: 65%
}

.control-panel .description p{
width: 90%;
}

.control-panel .nav{
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
  height: 35%;
}

.control-panel .progress{
  
  padding: 5px;
  box-sizing: border-box;
  width: 70%;
}

.control-panel .group-buttons{
  display: flex;
  height: 100%;
  width: 30%;
}

.control-panel .group-buttons button {
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

#prev-site-tutorial:hover {
  background-color: rgb(201, 201, 201);
}

#next-site-tutorial {
  background-color: #45b681;
  color: #fff;
  border-bottom-right-radius: 10px;
}

#next-site-tutorial:hover {
  background-color: #25a76a;
}

#next-site-tutorial:active {
  background-color: #309968;
}

#next-site-tutorial:disabled,
#next-site-tutorial[disabled]{
  background-color: #84ac99;
}

.progress{
  display: flex;
  justify-content: center;
}

#progress-site-tutorial{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#stop-site-tutorial{
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  fill: #25a76a;
}

#stop-site-tutorial:hover{
  fill: #173f2c;
}

#stop-site-tutorial path {
  cursor: pointer;
}

